@import "tailwindcss";
@plugin "daisyui" {
  themes: 
    light --default, 
    dark --prefersdark, 
    cupcake, 
    bumblebee, 
    emerald, 
    corporate, 
    synthwave, 
    retro, 
    cyberpunk, 
    valentine, 
    halloween, 
    garden, 
    forest, 
    aqua, 
    lofi, 
    pastel, 
    fantasy, 
    wireframe, 
    black, 
    luxury, 
    dracula, 
    cmyk, 
    autumn, 
    business, 
    acid, 
    lemonade, 
    night, 
    coffee, 
    winter, 
    dim, 
    nord, 
    sunset,
    caramellatte,
    abyss,
    silk;
  logs: false;
}

/* Custom Utilities */
@layer utilities {
  /* Utility to hide scrollbar for cleaner UI in some components */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
